.App {
  text-align: center;
  position: relative;
}

.oprtionsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heroBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding-inline: 20px;
}


